<div class="color"></div>
<div class="wrapper">
  <div class="main">
    <div class="leftContainer">
      <div class="infoMain">
        <div class="photo">
          <img src={{fotoUrl}} alt="" [class.img]="true">
        </div>
        <div class="info">
          <div class="contact">
            <h2>{{titleContact[0]}}</h2>
            <hr>
            <div *ngFor="let c of contact" class="dist">
              <h4>{{c.name}}</h4>
              <p>{{c.discription}}</p>
            </div>
          </div>
          <div class="education">
            <h2>{{titleContact[1]}}</h2>
            <hr>
            <div *ngFor="let e of education" class="dist">
              <h4>{{e.name}}</h4>
              <p>{{e.discription}}</p>
              <p>{{e.date}}</p>
            </div>
          </div>
          <div class="skills">
            <h2>{{titleContact[2]}}</h2>
            <hr>
            <div class="skillsParts">
              <div class="dist">
                <div *ngFor="let skill of skillsFirst">
                  <p>&bull; {{skill}}</p>
                </div>
              </div>
              <div class="dist">
                <div *ngFor="let skill of skillsSecond" class="skillsSecond">
                  <p>&bull; {{skill}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="language">
            <h2>{{titleContact[3]}}</h2>
            <hr>
            <div class="dist">
              <div *ngFor="let l of languages">
                <p>&bull; {{l}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rightContainer">
      <div class="aboutMS">
        <h1>{{fullname}}</h1>
        <h2>{{title}}</h2>
        <p>{{aboutMySelf}}</p>
      </div>
      <div class="mainExpRef">
        <div class="experience">
          <h2>{{rigthTitles[0]}}</h2>
          <hr>
          <div class="jobDist">
            <div *ngFor="let exp of experiences" class="dist">
              <h3 class="jobDist">{{exp.date}}</h3>
              <p>{{exp.company}}</p>
              <h4>{{exp.position}}</h4>
              <p>{{exp.discription}}</p>
            </div>
          </div>
        </div>
        <div class="reference">
          <h2>{{rigthTitles[1]}}</h2>
          <hr>
          <div class="refDiv">
            <a [href]="reference.ref" class="ref">{{reference.title}}</a>
          </div>
          <div class="imgDiv">
            <img src={{reference.qr}} alt="{{reference.title}}" [class.qr]="true">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
